<div class="container">
	<div class="row">
		<div class="col-lg-3">
			<h3>注文履歴詳細</h3>
		</div>
	</div>
	<div class="row">
		<div class="col-lg-offset-1 col-lg-6">
			<div class="row"><span class="orders">購入者   <small><%=link_to @order.customer.name, admin_customer_path(@order.customer) %></small></span></div>
			<!--注文日の出し方はconfig/locales/ja.ymlを確認、またはブックマークから参照-->
			<div class="row"><span class="orders">注文日   <small><%= l @order.created_at, format: :time %> </small></span></div>
			<div class="row"><span class="orders">配達先   <small><%= @order.address %></small></span></div>
			<div class="row"><span class="orders">支払方法    <small><%= @order.payment_method %></small></span></div>
			<%#= form_with model:@order, url: admin_order_detail_path(@order) do |f|%>
				<%#= f.submit '更新',class: 'btn btn-primary' %>
			<%# end %></div>
		</div>
	</div>
	<div class="col-lg-8">
	<table class="table">
	<tr class="active">
		<th>商品名</th>
		<th>単価（税込）</th>
		<th>数量</th>
		<th>小計</th>
	</tr>
		<% @order_details.each do |order_detail| %>
			<tr>
				<td><%= order_detail.item.name %></td>
				<td><%= (order_detail.item.price * 1.1).floor %></td>
				<td><%= order_detail.amount %></td>
				<td><%= (order_detail.item.price * 1.1).floor * order_detail.amount %></td>
				<td>
					<%#= form_with model:order_detail, url: admin_order_detail_path(order_detail) do |f|%>
						<%#= f.submit '更新',class: 'btn btn-primary' %>
					<%# end %>
				</td>
			</tr>
		<% end %>
	</table>
	</div>
<div class="col-lg-4">
<dl class="dl-horizontal orders">
	<dt>商品合計</dt>  <dd><%= @order.total_payment - @order.postage %>円</dd>
	<dt>送料</dt>  <dd><%= @order.postage %>円</dd>
	<dt>請求合計金額</dt>  <dd><%= @order.total_payment %>円</dd>
</dl>
</div>
</div>